.table-users-admin {
  &__icon {
    font-size: 1.1rem;

    &--active {
      color: #198754;
    }

    &--inactive {
      color: #dc3545;
    }
  }

  &__actions {
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
  }
}